<p id="notice"><%= notice %></p>

<h1>Listing Rukunwargas</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rukunwargas.each do |rukunwarga| %>
      <tr>
        <td><%= rukunwarga.name %></td>
        <td><%= link_to 'Show', rukunwarga %></td>
        <td><%= link_to 'Edit', edit_rukunwarga_path(rukunwarga) %></td>
        <td><%= link_to 'Destroy', rukunwarga, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Rukunwarga', new_rukunwarga_path %>
