<p id="notice"><%= notice %></p>

<h1>Listing Rukuntetanggas</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rukuntetanggas.each do |rukuntetangga| %>
      <tr>
        <td><%= rukuntetangga.name %></td>
        <td><%= link_to 'Show', rukuntetangga %></td>
        <td><%= link_to 'Edit', edit_rukuntetangga_path(rukuntetangga) %></td>
        <td><%= link_to 'Destroy', rukuntetangga, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Rukuntetangga', new_rukuntetangga_path %>
